<div class="container my-5">
  <h2 class="text-center">Reserva tu cita</h2>
  <div id="calendar" style="background-color: white;"></div>
</div>

<div class="modal fade" id="appointmentModal" tabindex="-1" aria-labelledby="appointmentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="appointmentModalLabel">Reservar cita</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <p>Has seleccionado: <strong id="selected-date"></strong></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Reservar</button>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const calendarEl = document.getElementById('calendar');

    const calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'timeGridWeek',
        locale: 'es',
        selectable: true,
        firstDay: 1,
        titleFormat: { day: 'numeric', month: 'long', year: 'numeric' },
        slotMinTime: "10:00:00",
        slotMaxTime: "21:00:00",
        allDaySlot: false,
        slotDuration: "00:30:00",
        slotLabelInterval: "00:30",
        slotLabelFormat: {
            hour: '2-digit',
            minute: '2-digit',
            hour12: false
        },
        height: 'auto',
        headerToolbar: {
            left: 'prev',
            center: 'title',
            right: 'next'
        },
        businessHours: [
        {
            daysOfWeek: [ 2, 3, 4, 5 ],
            startTime: '10:00',
            endTime: '14:00'
        },
        {
            daysOfWeek: [ 2, 3, 4, 5 ],
            startTime: '17:00',
            endTime: '21:00'
        },
        {
            daysOfWeek: [ 1 ],
            startTime: '17:00',
            endTime: '21:00'
        },
        {
            daysOfWeek: [ 6 ],
            startTime: '10:00',
            endTime: '14:00'
        }
        ],
        selectConstraint: "businessHours",
      select: function (info) {
        document.getElementById('selected-date').textContent = info.dateStr;

        const modal = new bootstrap.Modal(document.getElementById('appointmentModal'));
        modal.show();
      }
    });

    calendar.render();
  });
</script>

<style>
  .fc-non-business {
    background-color: rgba(255, 0, 0, 0.15) !important;
  }
</style>